@{
    ViewData["Title"] = "Home Page";
}

<section id="aboutUs">
    <!--Aboutus-->
    <div class="inner_wrapper about-us aboutUs-container fadeInLeft animated wow">
        <div class="container">
            <h2>Hakkımızda</h2>
            <h6>Sistem Programlama C Grubu </h6>
            <div class="inner_section">
                <div class="row">
                    <div class="col-md-6"> <img class="img-responsive" src="~/img/about1.png" align=""> </div>
                    <div class="col-md-6">
                        <h3>Size güzelliği getireceğiz </h3>
                        <p>
                            <b>"Güzelliği Getiren Merkez"</b> olarak tecrübelerimiz doğrultusunda birincil amacımız kullanıcılarımıza
                            hatasız bir hizmet sunmaktır. Bunun için her geçen gün çalışıyoruz ve çalışmaya devam edeceğiz.
                        </p>

                        <ul>
                            <li>Berfin TOKTAŞ</li>
                            <li>Duygu ERDURAN</li>
                            <li>Mustafa AYDIN</li>
                            <li>Fatih YILMAZ</li>
                            <li>Muhammed Ali SOYLU</li>
                            <li>Besik SHARASHIDZE</li>

                        </ul>

                        <ul class="about-us-list">
                            <li class="points">Farklı bir deneyim</li>
                            <li class="points">Uzman teknolojilerimiz </li>
                            <li class="points">Moda Takibi</li>
                        </ul><!-- /.about-us-list -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Aboutus-->
<!--Service-->
<!--Header_section-->
<section id="service">
    <!--Aboutus-->
    <div class="inner_wrapper about-us aboutUs-container fadeInLeft animated wow">
        <div class="container">
            <h2>Servislerimiz</h2>
            <div class="col-md-12 list-div">
                <ul class="about-us-list" id="services-ul">
                </ul>
            </div>

            <div class="col-md-12"></div>

            <h6>Sistem Programlama C Grubu </h6>
            <p>
                <b>"Güzelliği Getiren Merkez"</b> olarak tecrübelerimiz doğrultusunda birincil amacımız kullanıcılarımıza
                hatasız bir hizmet sunmaktır. Bunun için her geçen gün çalışıyoruz ve çalışmaya devam edeceğiz.
            </p>

        </div>
    </div>
</section>
<!--Aboutus-->
<!-- Portfolio -->
<section id="Portfolio" class="content">

    <!-- Container -->
    <div class="container portfolio_title">

        <!-- Title -->
        <div class="section-title">
            <h2>Galeri</h2>
            <h6>Deneyimlerimiz</h6>

        </div>
        <!--/Title -->

    </div>
    <!-- Container -->

    <div class="portfolio-top"></div>

    <!-- Portfolio Filters -->
    <div class="portfolio">

        <div id="filters" class="sixteen columns">
            <ul class="clearfix">
                <li>
                    <a id="all" href="#" data-filter="*" class="active">
                        <h5>Hepsi</h5>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-filter=".wildlife">
                        <h5>Saç Stilleri</h5>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-filter=".nature">
                        <h5>Makyaj</h5>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-filter=".citylife">
                        <h5>Kaş</h5>
                    </a>
                </li>
                <li>
                    <a class="" href="#" data-filter=".animals">
                        <h5>Göz</h5>
                    </a>
                </li>
            </ul>
        </div>
        <!--/Portfolio Filters -->
        <!-- Portfolio Wrapper -->
        <div class="isotope fadeInLeft animated wow grid" style="position: relative; overflow: hidden; height: 480px;"
             id="portfolio_wrapper">
            <!-- Portfolio Item -->
            <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                    class="portfolio-item one-four   animals isotope-item effect-oscar">

                <div class="portfolio_img">
                    <img src="~/img/portfolio_pic1.jpg" alt="Portfolio 1">
                </div>
                <figcaption>
                    <div>
                        <a href="img/portfolio_pic1.jpg" class="fancybox">
                            <h2>1692 <span>Warm</span></h2>

                        </a>
                    </div>
                </figcaption>
            </figure>
            <!--/Portfolio Item -->
            <!-- Portfolio Item-->
            <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                    class="portfolio-item one-four  wildlife isotope-item effect-oscar">
                <div class="portfolio_img"> <img src="~/img/portfolio_pic2.jpg" alt="Portfolio 1"> </div>
                <figcaption>
                    <div>
                        <a href="img/portfolio_pic2.jpg" class="fancybox">
                            <h2>1772 <span>Coiffure</span></h2>

                        </a>
                    </div>
                </figcaption>
            </figure>
            <!--/Portfolio Item -->
            <!-- Portfolio Item -->
            <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                    class="portfolio-item one-four  wildlife  isotope-item effect-oscar">
                <div class="portfolio_img"> <img src="~/img/portfolio_pic3.jpg" alt="Portfolio 1"> </div>
                <figcaption>
                    <div>
                        <a href="img/portfolio_pic3.jpg" class="fancybox">
                            <h2>1782 <span>Laurie</span></h2>

                        </a>
                    </div>
                </figcaption>
            </figure>
            <!--/Portfolio Item-->
            <!-- Portfolio Item-->
            <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                    class="portfolio-item one-four  citylife  nature web isotope-item effect-oscar">
                <div class="portfolio_img"> <img src="~/img/portfolio_pic4.jpg" alt="Portfolio 1"> </div>
                <figcaption>
                    <div>
                        <a href="img/portfolio_pic4.jpg" class="fancybox">
                            <h2>1742 <span>Tavan</span></h2>

                        </a>
                    </div>
                </figcaption>
            </figure>
            <!-- Portfolio Item -->
            <!-- Portfolio Item -->
            <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                    class="portfolio-item one-four  wildlife isotope-item effect-oscar">
                <div class="portfolio_img"> <img src="~/img/portfolio_pic5.jpg" alt="Portfolio 1"> </div>
                <figcaption>
                    <div>
                        <a href="img/portfolio_pic5.jpg" class="fancybox">
                            <h2>1752 <span>Jasmine</span></h2>

                        </a>
                    </div>
                </figcaption>
            </figure>
            <!--/Portfolio Item -->
            <!-- Portfolio Item -->
            <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                    class="portfolio-item one-four  web isotope-item effect-oscar">
                <div class="portfolio_img"> <img src="~/img/portfolio_pic6.jpg" alt="Portfolio 1"> </div>
                <figcaption>
                    <div>
                        <a href="img/portfolio_pic6.jpg" class="fancybox">
                            <h2>1777 <span>Oscar</span></h2>

                        </a>
                    </div>
                </figcaption>
            </figure>
            <!--/Portfolio Item -->
            <!-- Portfolio Item  -->
            <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                    class="portfolio-item one-four  wildlife web isotope-item effect-oscar">
                <div class="portfolio_img"> <img src="~/img/portfolio_pic7.jpg" alt="Portfolio 1"> </div>
                <figcaption>
                    <div>
                        <a href="img/portfolio_pic7.jpg" class="fancybox">
                            <h2>1795 <span>Lauren</span></h2>

                        </a>
                    </div>
                </figcaption>
            </figure>
            <!--/Portfolio Item -->
            <!-- Portfolio Item -->
            <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;"
                    class="portfolio-item one-four   citylife isotope-item effect-oscar">
                <div class="portfolio_img"> <img src="~/img/portfolio_pic8.jpg" alt="Portfolio 1"> </div>
                <figcaption>
                    <div>
                        <a href="img/portfolio_pic8.jpg" class="fancybox">
                            <h2>1754 <span>Vietnam</span></h2>

                        </a>
                    </div>
                </figcaption>
            </figure>
            <!--/Portfolio Item -->

        </div>
        <!--/Portfolio Wrapper -->

    </div>
    <!--/Portfolio Filters -->

    <div class="portfolio_btm"></div>

</section>
<div id="project_container">
    <div class="clear"></div>
    <div id="project_data"></div>
</div>